
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 100, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 200, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 300, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 400, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 500, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 600, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 700, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 800, normal)
fontStyle('OpenSans', woff2-variations, OpenSans-VariableFont_wdth, 900, normal)
fontStyle('Roboto', woff2, Roboto-Regular, 400, normal)
fontStyle('Rosarivo', woff2, Rosarivo-Regular, 400, normal)
